/* Estilos para os cards */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /*Oculta conteúdo que ultrapassar o limite do card */
  transition: transform 0.3s ease; /* Transição suave para efeito hover */
  width: 100%;
}

.card:hover {
  transform: scale(1.05); /* Aumenta o card quando o cursor passa sobre ele */
}

/* Estilo das imagens dentro dos cards */
.card img {
  width: 100%;
  height: auto;
  padding: 1em;
}

/* Conteúdo do card */
.card-content {
  padding: 1em;
}
